@font-face {
    font-family: myFirstFont;
    src:url(coolvetica\ rg.otf)
}

body {
    height: 100vh;
    background-color: rgb(238, 246, 238);
    margin: 0;
    padding: 0;


}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
    "first-article first-article third-aside third-aside" "scroll scroll scroll scroll" "second-article second-article second-article second-article" "footer footer footer footer""disclaimer disclaimer disclaimer disclaimer";
    grid-template-rows: max-content 3fr 0.2fr 6fr max-content max-content;
    font-family: myFirstFont;
    font-size: 20px;
    
}

.container {
    justify-items: center;
}

#first-aside {
    grid-area: first-aside;
    
}

.header {
    grid-area: header;
    width: fit-content;
}

.logo {
    
    background-color: rgb(238, 246, 238);
    height: 72px;
    padding: 10px 40px 0px 40px;
    float: left;
}

header {
    border-radius: 30px;
    background-color: rgb(247, 207, 213);
    margin: 30px 0px 0px 0px;
    padding: 0px 400px 0px 0px;
    height: auto;
    float: left;
    align-self: center;

}

nav:hover {
    background-color: rgb(248, 180, 190);
}

h1 {
    font-size: 90px;
    text-align: center;
    margin: 100px 0px 0px 0px;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin: 33px 0px 20px 0px;
}

.welkom {
    text-align: center;
}

.header-ul {
    list-style-type: none;
    text-align: left;
    float: left;
    align-self: center;
    justify-self: center;
    margin: 3px;

}

.li-1 {
    display: inline-block ;
    padding: 0px 25px 0px 25px;
}

.li-1:hover {
    background-color: rgb(248, 180, 190);
    border-radius: 25px;
}

.li-2 {
    display: inline-block ;
    padding: 0px 50px 0px 0px;
}

a {
    display: inline-block ;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    
}

#introduction {
    grid-area: first-article;
    display: grid;
    align-self: top;
    justify-self: center;
    width: 80%;
    height: 30%;
    margin: 60px 0px 60px 0px;
   
    
}

#scroll {
    background-color: rgb(181, 242, 230);
    grid-area: scroll;
    font-size: 40px;
    padding: 50px 0px 50px 0px;
}


ul {
    margin: 60px 0px 0px 0px;
}

.cookie {
    background-color: rgb(247, 207, 213);
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 60px 10px 60px 10px;;
    border-radius: 25%;
}

.cookie:hover {
    background-color: rgb(248, 180, 190);
}

.necklace {
    background-color: rgb(181, 242, 230);
    width: 200px;
    padding: 10px;
    margin: 60px 10px 60px 10px;
    border-radius: 25%;

}

.necklace:hover {
    background-color: rgb(86, 241, 210);
}

.hoodie {
    background-color: rgb(181, 242, 230);
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 25%;
}

.hoodie:hover {
    background-color: rgb(86, 241, 210);
}

.trilobite {
    background-color: rgb(247, 207, 213);
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 25%;
}

.trilobite:hover {
    background-color: rgb(248, 180, 190);
}

.colour {
    background-color: rgb(181, 242, 230);
}

#second-aside {
    grid-area: third-aside;
    margin: 50px auto;
    float: left;
    justify-self: center;
    align-self: top;
    border-radius: 30px;
  
}

.chatbutton {
    position: fixed;
    top: 10%;
    right: 2%;

    
}
#chatbutton {
    width: 5rem;


}

#article {
    display: block;
    background-color: rgb(181, 242, 230);
    grid-area: second-article;
    
}

.article {
    border: double 10px rgb(247, 207, 213);
    margin: 50px auto 0px auto;
    border-radius: 30px;
    align-content: center;
    padding: 20px 50px 0px 50px;
    width: 70%;
}

.first-textblock {
    display: inline-block;
    width: 60%;
}

.artikel {
    background-color: rgb(181, 242, 230);
    width: 100%;
   
}

.nieuws-afbeelding-1 {
    width: 35%;
    padding: 20px;
    margin:  5px 0px 0px 0px;
    border-radius: 30px;


}

.nieuws-afbeelding-2 {
    width: 35%;
    padding: 20px;
    margin: 70px 0px 0px 0px;
    border-radius: 30px;
}

.nieuws-afbeelding-3 {
    width: 35%;
    padding: 20px;
    margin: 70px 0px 0px 0px;
    border-radius: 30px;
}

#footer {
    grid-area: footer;
    background-color: rgb(181, 242, 230);
    width: 100%;
}

footer {
    
    grid-row: auto;
    background-color: rgb(247, 207, 213);
    width: 55rem;
    height: min-content;
    float: left;
    padding: 10px;
    margin: 20px 0px 10px 0px;
    border-radius: 30px;
    
}

.logo-footer {
    background-color: rgb(247, 207, 213);
    height: 80px;;
    float: left;
    margin: 125px 20px 0px 20px;
      
}

.ul-footer {
    float: right;
    margin: 0px 50px 0px 0px;
    
}

.navigatie-footer {
    margin: 0px;
    list-style-type: none;  

    
}
.navigatie-footer:hover {
    background-color: rgb(248, 180, 190);
    border-radius: 25px;
}

.text-footer {

float: left;
margin: 0px 0px 0px 20px;
font-size: 25px;
}

.collage {
    width: 90%;
    margin: 100px 0px 0px 50px;
    border-radius: 30px;
}

.description-1 {
    position: absolute;
    grid-area: third-aside;
    top: 252px;
    right: 562px;
    font-size: 30px;
    background: rgba(248, 180, 190);
    color: black;
    visibility: hidden;
    opacity: 0;
    padding: 92px 56px;
    border-radius: 25%;
    
}

.description-2 {
    position: absolute;
    grid-area: third-aside;
    top: 252px;
    right: 266px;
    font-size: 30px;
    padding: 92px 60px;
    visibility: hidden;
    opacity: 0;
    color: black;
    background-color: rgb(86, 241, 210);
    border-radius: 25%;

}

.description-3 {
    position: absolute;
    grid-area: third-aside;
    top: 546px;
    right: 562px;
    font-size: 30px;
    padding: 92px 77px;
    visibility: hidden;
    opacity: 0;
    color: black;
    background-color: rgb(86, 241, 210);
    border-radius: 25%;
}

.description-4 {
    position: absolute;
    grid-area: third-aside;
    top: 549px;
    right: 266px;
    font-size: 30px;
    background: rgba(248, 180, 190);
    color: black;
    visibility: hidden;
    opacity: 0;
    padding: 92px 53px;
    border-radius: 25%;
}

.cookie-shop {
    position: absolute;
    background-color: rgb(247, 207, 213);
    width: 200px;
    height: 200px;
    top: 282px;
    right: 553px;
    padding: 10px;
    border-radius: 25%;
}

.necklace-shop {
    position: absolute;
    background-color: rgb(181, 242, 230);
    top: 282px;
    right: 255px;
    width: 200px;
    padding: 10px;
    border-radius: 25%;

}


.hoodie-shop {
    position: absolute;
    background-color: rgb(181, 242, 230);
    top: 578px;
    right: 553px;
    width: 200px;
    padding: 10px;
    border-radius: 25%;
}


.trilobite-shop {
    position: absolute;
    background-color: rgb(247, 207, 213);
    top: 580px;
    right: 257px;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 25%;
}

.img-wrap {
    display: inline;
}
.img-wrap:hover .description-1 {
    visibility: visible;
    opacity: 0.4;
}

.img-wrap-2 {
    display: inline;
}

.img-wrap-2:hover .description-2 {
    visibility: visible;
    opacity: 0.4;
}

.img-wrap-3 {
    display: inline;
}


.img-wrap-3:hover .description-3 {
    visibility: visible;
    opacity: 0.4;
}

.img-wrap-4 {
    display: inline;
}

.img-wrap-4:hover .description-4 {
    visibility: visible;
    opacity: 0.4;
}

#introduction-shop {
    grid-area: first-article;
    display: grid;
    align-self: top;
    justify-self: center;
    width: 80%;
    height: 30%;
    margin: 60px 0px 60px 0px;
   
    
}

#scroll-shop {
    background-color: rgb(250, 226, 229);
    grid-area: scroll;
    font-size: 40px;
    padding: 50px 0px 50px 0px;
    margin: 200px 0px 20px 0px;
}

#scroll-shop-2 {
    background-color: rgb(250, 226, 229);
    grid-area: scroll;
    font-size: 40px;
    padding: 40px 0px 0px 0px;
    margin: 150px 0px 0px 0px;

}

.artikel-shop {
    background-color: rgb(250, 226, 229);
    width: 100%;
   
}

#second-article-shop {
    display: block;
    background-color: rgb(250, 226, 229);
    grid-area: second-article;
    
}

#footer-shop {
    grid-area: footer;
    background-color: rgb(250, 226, 229);
}

.lego-shop {
    width: 100%;
}

.lego-shop-1 {
    width: 33%;
    margin: 0px 0px 100px 0px;
}

.text-banner {
    position: absolute;
    font-size: 200%;
    right: 10%;
    Top: 170%;
}

#gadgets {
    grid-area: first-article;
    display: flex;
    flex-flow: row wrap;
    width: 100%
}

.image1 {
    display: block;
    width: 100%;
    height: auto;
   /* padding: 8px; */
    border-radius: 30%;
    /* margin: 1.7rem */
}

.summary  {
    display: block;
   /* padding: 5px; */
    /* margin: 1.7rem; */
    text-align: left;
    
}

#gadgets-2 {
    grid-area: third-aside;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

#gadgets-3 {
    grid-area: second-article;
    display: flex;
    flex-flow: row wrap;  
    width: 100%; 
}

.image1-1 {
    display: block;
    width: 100%;
    height: auto;
   /* padding: 8px; */
    border-radius: 30%;
    /* margin: 1.7rem */
}

.summary-1  {
    display: block;
    /* padding: 5px; */
     /* margin: 1.7rem; */
     text-align: left;
    
}


.border {
    border: solid 1px black;
    width: calc(50% - 58px);
    padding: 8px;
    margin: 100px 20px 20px 20px;
    border-radius: 30px;
}


.formulier {
    display: block;
    grid-area:  second-article;
    padding: 50px;
    width: 50rem;
    background-color: rgb(247, 207, 213);
    margin-top: 300px;
    margin-bottom: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: solid 2px black;
}

fieldset label {
    display: inline-block;
    width: 20rem;
    font-size: 25px;
}

fieldset input {
    display: inline-block;
    width: 25rem;
    height: 2rem;
    border-radius: 25px;
}
fieldset {
    border: none;
}
label{
    margin: 0.2rem;
    background-color: rgb(248, 180, 190);
    border-radius: 25px;
    padding: 5px 0px 0px 10px;
    height: 2.5rem;
    border:  solid 1px black;
}
input {
    margin: 0.2rem;
    height: 2.5rem;
}

.button {
    font-family: myFirstfont;
    font-size: 25px;
    background-color: rgb(86, 241, 210);
    height: 3rem;
    width: 15rem;
    font-weight: bold;
}

#questions {
    display: inline-block;
    background-color: rgb(248, 180, 190);
    width: 25rem;
    height: 3rem;
    font-family: myFirstFont;
    font-size: 20px;
    border-radius: 25px;text-align: center;
}

#answers {
    width: 50rem;
    font-family: myFirstFond;
    font-size: 25px;
    border-radius: 25px;
}
#contact {
    display: block;
    font-size: 50px;
}

fieldset p {
    display: inline-block;

}
#required {
    display: block;
    margin-top: 5rem;
}

:required {
    border: 2px solid rgb(243, 76, 187);

}
.radio {
    width: 5rem;
    margin: 0px 0px 15px 0px;
    background-color: rg;
}

.disclaimer {
    grid-area: disclaimer;
    font-size: 15px;
    background-color: rgb(181, 242, 230);
    margin: 0px;
    padding: 10px;
}

.disclaimer-shop {
    grid-area: disclaimer;
    font-size: 15px;
    background-color: rgb(250, 226, 229);
    margin: 0px;
    padding: 10px;
}

#footer-categories {
    grid-area: footer;
    display: block;
    background-color: rgb(238, 246, 238);
}

.disclaimer-categories {
    grid-area: disclaimer;
    font-size: 15px;
    background-color: rgb(238, 246, 238);
    margin: 0px;
    padding: 10px;
}

table.my-table {
    border: solid 1px black;
    width: 50%;
    justify-self: center;
    background-color: rgb(247, 207, 213);
    border-radius: 25px;
    padding: 3px;
}

td {
    border: solid 1px black;
    text-align: center;
    background-color: rgb(238, 246, 238);
    border-radius: 25px;
}

#about-me {
    font-size: 30px;
    margin: 50px 100px;
    

}
#about-me-text {
    margin: 50px 100px;
}

#about-me-div {
    padding: 20px 50px 0px 50px;
    border-radius: 30px;
    border: double 10px rgb(247, 207, 213);
    margin: 20px auto;
    width: 70%;
}

@media only screen and (min-width: 420px) {
    main {
        section#introduction-shop {
            display: none;
        }
        img.collage {
            display: none;
        }
    
        aside.second-aside {
            width: fit-content;
        }
        div.img-wrap {
            position: relative;
            width: 100px;
            height: 100px;
            top: 20px
        }
        
}
}