@font-face {
    font-family: myFirstFont;
    src:url(Creamy_Bubble.otf)
}

body {
    height: 100vh;
    background-color: rgb(238, 246, 238);
    margin: 0;
    padding: 0;


}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
    "first-article first-article third-aside third-aside" "scroll scroll scroll scroll" "second-article second-article second-article second-article" "footer footer footer footer";
    grid-template-rows: max-content 3fr 0.2fr 6fr max-content;
    font-family: myFirstFont;
    font-size: 30px;
    
}

.container {
    justify-items: center;
}

#first-aside {
    grid-area: first-aside;
    
}

.header {
    grid-area: header;
    width: fit-content;
}

.logo {
    
    background-color: rgb(238, 246, 238);
    height: 72px;
    padding: 10px 40px 0px 40px;
    float: left;
}

header {
    border-radius: 30px;
    background-color: rgb(247, 207, 213);
    margin: 30px 0px 0px 0px;
    padding: 0px 400px 0px 0px;
    height: auto;
    float: left;
    align-self: center;

}

nav:hover {
    background-color: rgb(248, 180, 190);
}

h1 {
    font-size: 90px;
    text-align: center;
    margin: 100px 0px 0px 0px;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin: 33px 0px 20px 0px;
}

.welkom {
    text-align: center;
}

.header-ul {
    list-style-type: none;
    text-align: left;
    float: left;
    align-self: center;
    justify-self: center;
    margin: 3px;

}

.li-1 {
    display: inline-block ;
    padding: 0px 25px 0px 25px;
}

.li-1:hover {
    background-color: rgb(248, 180, 190);
}

.li-2 {
    display: inline-block ;
    padding: 0px 50px 0px 0px;
}

a {
    display: inline-block ;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    
}

#introduction {
    grid-area: first-article;
    display: grid;
    align-self: top;
    justify-self: center;
    width: 80%;
    height: 30%;
    margin: 60px 0px 0px 0px;
   
    
}

#scroll {
    background-color: rgb(181, 242, 230);
    grid-area: scroll;
    font-size: 40px;
    padding: 50px 0px 50px 0px;
}


ul {
    margin: 60px 0px 0px 0px;
}

.cookie {
    background-color: rgb(247, 207, 213);
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 60px 10px 60px 10px;;
    border-radius: 25%;
}

.cookie:hover {
    background-color: rgb(248, 180, 190);
}

.necklace {
    background-color: rgb(181, 242, 230);
    width: 200px;
    padding: 10px;
    margin: 60px 10px 60px 10px;
    border-radius: 25%;

}

.necklace:hover {
    background-color: rgb(86, 241, 210);
}

.hoodie {
    background-color: rgb(181, 242, 230);
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 25%;
}

.hoodie:hover {
    background-color: rgb(86, 241, 210);
}

.trilobite {
    background-color: rgb(247, 207, 213);
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 25%;
}

.trilobite:hover {
    background-color: rgb(248, 180, 190);
}

.colour {
    background-color: rgb(181, 242, 230);
}

#second-aside {
    grid-area: third-aside;
    margin: 50px auto;
    float: left;
    justify-self: center;
    align-self: top;
    border-radius: 30px;
  
}

#article {
    display: block;
    background-color: rgb(181, 242, 230);
    grid-area: second-article;
    
}

.article {
    border: double 10px rgb(247, 207, 213);
    margin: 50px auto 0px auto;
    border-radius: 30px;
    align-content: center;
    padding: 20px 50px 0px 50px;
    width: 70%;
}

.first-textblock {
    display: inline-block;
    width: 60%;
}

.artikel {
    background-color: rgb(181, 242, 230);
    width: 100%;
   
}

.nieuws-afbeelding-1 {
    width: 35%;
    padding: 20px;
    margin:  5px 0px 0px 0px;
    border-radius: 30px;


}

.nieuws-afbeelding-2 {
    width: 35%;
    padding: 20px;
    margin: 70px 0px 0px 0px;
    border-radius: 30px;
}

.nieuws-afbeelding-3 {
    width: 35%;
    padding: 20px;
    margin: 70px 0px 0px 0px;
    border-radius: 30px;
}

#footer {
    grid-area: footer;
    background-color: rgb(181, 242, 230);
}

footer {
    
    grid-row: auto;
    background-color: rgb(247, 207, 213);
    width: 60%;
    height: min-content;
    float: left;
    padding: 10px;
    margin: 20px 0px 10px 0px;
    border-radius: 30px;
    
}

.logo-footer {
    background-color: rgb(247, 207, 213);
    height: 80px;;
    float: left;
    margin: 125px 20px 0px 20px;
      
}

.ul-footer {
    float: right;
    margin: 0px 50px 0px 0px;
    
}

.navigatie-footer {
    margin: 0px;
    list-style-type: none;  

    
}
.navigatie-footer:hover {
    background-color: rgb(248, 180, 190);
}

.text-footer {

float: left;
margin: 0px 0px 0px 20px;
font-size: 25px;
}

.collage {
    width: 90%;
    margin: 100px 0px 0px 50px;
    border-radius: 30px;
}

.description-1 {
    position: absolute;
    grid-area: third-aside;
    top: 232px;
    right: 562px;
    font-size: 50px;
    background: rgba(248, 180, 190);
    color: black;
    visibility: hidden;
    opacity: 0;
    padding: 82px 57px;
    border-radius: 25%;
    
}

.description-2 {
    position: absolute;
    grid-area: third-aside;
    top: 232px;
    right: 266px;
    font-size: 50px;
    padding: 82px 58px;
    visibility: hidden;
    opacity: 0;
    color: black;
    background-color: rgb(86, 241, 210);
    border-radius: 25%;

}

.description-3 {
    position: absolute;
    grid-area: third-aside;
    top: 530px;
    right: 562px;
    font-size: 50px;
    padding: 80px 73px;
    visibility: hidden;
    opacity: 0;
    color: black;
    background-color: rgb(86, 241, 210);
    border-radius: 25%;
}

.description-4 {
    position: absolute;
    grid-area: third-aside;
    top: 530px;
    right: 266px;
    font-size: 50px;
    background: rgba(248, 180, 190);
    color: black;
    visibility: hidden;
    opacity: 0;
    padding: 82px 57px;
    border-radius: 25%;
}

.cookie-shop {
    position: absolute;
    background-color: rgb(247, 207, 213);
    width: 200px;
    height: 200px;
    top: 282px;
    right: 553px;
    padding: 10px;
    border-radius: 25%;
}

.necklace-shop {
    position: absolute;
    background-color: rgb(181, 242, 230);
    top: 282px;
    right: 255px;
    width: 200px;
    padding: 10px;
    border-radius: 25%;

}


.hoodie-shop {
    position: absolute;
    background-color: rgb(181, 242, 230);
    top: 578px;
    right: 553px;
    width: 200px;
    padding: 10px;
    border-radius: 25%;
}


.trilobite-shop {
    position: absolute;
    background-color: rgb(247, 207, 213);
    top: 580px;
    right: 257px;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 25%;
}

.img-wrap {
    display: inline;
}
.img-wrap:hover .description-1 {
    visibility: visible;
    opacity: 0.4;
}

.img-wrap-2 {
    display: inline;
}

.img-wrap-2:hover .description-2 {
    visibility: visible;
    opacity: 0.4;
}

.img-wrap-3 {
    display: inline;
}


.img-wrap-3:hover .description-3 {
    visibility: visible;
    opacity: 0.4;
}

.img-wrap-4 {
    display: inline;
}

.img-wrap-4:hover .description-4 {
    visibility: visible;
    opacity: 0.4;
}



#scroll-shop {
    background-color: rgb(250, 226, 229);
    grid-area: scroll;
    font-size: 40px;
    padding: 50px 0px 50px 0px;
    margin: 200px 0px 20px 0px;
}

#scroll-shop-2 {
    background-color: rgb(250, 226, 229);
    grid-area: scroll;
    font-size: 40px;
    padding: 40px 0px 0px 0px;
    margin: 150px 0px 0px 0px;

}

.artikel-shop {
    background-color: rgb(250, 226, 229);
    width: 100%;
   
}

#second-article-shop {
    display: block;
    background-color: rgb(250, 226, 229);
    grid-area: second-article;
    
}

#footer-shop {
    grid-area: footer;
    background-color: rgb(250, 226, 229);
}

.lego-shop {
    width: 100%;
}

.lego-shop-1 {
    width: 33%;
    margin: 0px 0px 100px 0px;
}

.text-banner {
    position: absolute;
    font-size: 200%;
    right: 10%;
    Top: 170%;
}